In [1]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto 1\Proyecto-Individual-1-ML\data\movies_procesado')

In [2]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [3]:
df.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,day_of_week_release
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,Monday
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,Friday
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,0.000000,1995,Friday

def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.

In [28]:
def cantidad_filmaciones_mes(mes): #definimos
    meses={'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,'julio':7,'agosto':8,'septiembre':9,'octube':10,'noviembre':11,'diciembre':12} #diccionario de valores para convertir mes a numero
    mes=mes.lower() #estandarizar el input
    df['release_date']=pd.to_datetime(df['release_date'], format='%Y-%m-%d') #convertimos la fila a datetime
    print(f'{df.loc[df['release_date'].dt.month==meses[mes]].shape[0]} peliculas fueron estrenadas en el mes de {mes.title()}') #imprimimos el output de la funcion

In [5]:
cantidad_filmaciones_mes('eNeRO')

5912 peliculas fueron estrenadas en el mes de Enero

def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.

In [29]:
def cantidad_filmaciones_dia(dia):
    dias={'lunes':'Monday','martes':'Tuesday','miercoles':'Wednesday','jueves':'Thursday','viernes':'Friday','sabado':'Saturday','domingo':'Sunday'} #diccionario con el nombre en espanol y su equivalente en ingles del df
    dia=dia.lower() #estandarizamos
    print(f'{df.loc[df['day_of_week_release']==dias[dia]].shape[0]} fueron estrenadas en días {dia.title()}') #sacamos las filas del dataframe que cumple con esas condiciones

In [27]:
cantidad_filmaciones_dia('viernes')

13908 fueron estrenadas en días Viernes


def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.

In [31]:
def score_titulo(titulo_de_la_filmacion):
    pelicula = df.loc[df['title'] == titulo_de_la_filmacion] #nuevo df con la condicion establecida

    if pelicula.empty:
        print(f'No se encontró la película con el título "{titulo_de_la_filmacion}".') #prevenimos un error si la pelicula no esta en el dataframe
        return None
    
    titulo = pelicula['title'].values[0]
    score = pelicula['popularity'].values[0] #sacamos los datos que nos interesan y los guardamos en variables
    year = pelicula['release_year'].values[0]

    print(f'La pelicula {titulo} fue estrenada en el año {year} con un score de: {score}') #imprimimos en f string con los datos de interes

In [7]:
score_titulo('Star Wars')

La pelicula Star Wars fue estrenada en el año 1977 con un score de: 42.149697


def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.

In [32]:
def votos_titulo( titulo_de_la_filmacion ):
    pelicula = df.loc[df['title'] == titulo_de_la_filmacion] #df con las caracteristicas que buscamos 

    if pelicula.empty:
        print(f'No se encontró la película con el título "{titulo_de_la_filmacion}".') #prevenimos un error si la pelicula no se encuentra
        return None
    
    titulo = pelicula['title'].values[0]
    votos=pelicula['vote_count'].values[0] #guardamos la variables que nos interesan
    vavg=pelicula['vote_average'].values[0]
    
    if votos>=2000:
        print(f'La pelicula {titulo} cuenta con {votos} valoraciones, con un puntaje promedio de {vavg}') #imprimimos si la pelicula tiene mas de 2000 votos
    else:
        print('La pelicula cuenta con menos de 2000 votos') # en caso de que no, se le notifica al usuario

In [9]:
votos_titulo('Forrest Gump')

La pelicula Forrest Gump cuenta con 8147.0 valoraciones, con un puntaje promedio de 8.2

def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.