In [1]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto 1\Proyecto-Individual-1-ML\data procesada para funciones\movies_procesado')
df_directores=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto 1\Proyecto-Individual-1-ML\data procesada para funciones\directores_procesado')
df_actores=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto 1\Proyecto-Individual-1-ML\data procesada para funciones\actores_procesado')

C:\Users\Fernando\AppData\Local\Temp\ipykernel_13636\2809647511.py:3: DtypeWarning: Columns (26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df_directores=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto 1\Proyecto-Individual-1-ML\data procesada para funciones\directores_procesado')
C:\Users\Fernando\AppData\Local\Temp\ipykernel_13636\2809647511.py:4: DtypeWarning: Columns (116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,466,468,470,472,474,476,478,480,482,484,486,488,490,492,494,496,498,500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626) have mixed types. Specify dtype option on import or set low_memory=False.
  df_actores=pd.read_csv(r'C:\Users\Fernando\Desktop\Proyecto 1\Proyecto-Individual-1-ML\data procesada para funciones\actores_procesado')

In [2]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [3]:
df.rename(columns={'id':'Id_Pelicula'},inplace=True)

In [4]:
df.head(3)

,belongs_to_collection,budget,genres,Id_Pelicula,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,day_of_week_release
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,Monday
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,Friday
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,0.000000,1995,Friday

def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma EspaÃ±ol. Debe devolver la cantidad de pelÃ­culas que fueron estrenadas en el mes consultado en la totalidad del dataset.

In [5]:
def cantidad_filmaciones_mes(mes): #definimos
    meses={'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,'julio':7,'agosto':8,'septiembre':9,'octube':10,'noviembre':11,'diciembre':12} #diccionario de valores para convertir mes a numero
    mes=mes.lower() #estandarizar el input
    df['release_date']=pd.to_datetime(df['release_date'], format='%Y-%m-%d') #convertimos la fila a datetime
    print(f'{df.loc[df['release_date'].dt.month==meses[mes]].shape[0]} peliculas fueron estrenadas en el mes de {mes.title()}') #imprimimos el output de la funcion

In [6]:
cantidad_filmaciones_mes('eNeRO')

5912 peliculas fueron estrenadas en el mes de Enero

def cantidad_filmaciones_dia( Dia ): Se ingresa un dÃ­a en idioma EspaÃ±ol. Debe devolver la cantidad de pelÃ­culas que fueron estrenadas en dÃ­a consultado en la totalidad del dataset.

In [7]:
def cantidad_filmaciones_dia(dia):
    dias={'lunes':'Monday','martes':'Tuesday','miercoles':'Wednesday','jueves':'Thursday','viernes':'Friday','sabado':'Saturday','domingo':'Sunday'} #diccionario con el nombre en espanol y su equivalente en ingles del df
    dia=dia.lower() #estandarizamos
    print(f'{df.loc[df['day_of_week_release']==dias[dia]].shape[0]} fueron estrenadas en dÃ­as {dia.title()}') #sacamos las filas del dataframe que cumple con esas condiciones

In [8]:
cantidad_filmaciones_dia('viernes')

13908 fueron estrenadas en dÃ­as Viernes


def score_titulo( titulo_de_la_filmaciÃ³n ): Se ingresa el tÃ­tulo de una filmaciÃ³n esperando como respuesta el tÃ­tulo, el aÃ±o de estreno y el score.

In [9]:
def score_titulo(titulo_de_la_filmacion):
    pelicula = df.loc[df['title'] == titulo_de_la_filmacion] #nuevo df con la condicion establecida

    if pelicula.empty:
        print(f'No se encontrÃ³ la pelÃ­cula con el tÃ­tulo "{titulo_de_la_filmacion}".') #prevenimos un error si la pelicula no esta en el dataframe
        return None
    
    titulo = pelicula['title'].values[0]
    score = pelicula['popularity'].values[0] #sacamos los datos que nos interesan y los guardamos en variables
    year = pelicula['release_year'].values[0]

    print(f'La pelicula {titulo} fue estrenada en el aÃ±o {year} con un score de: {score}') #imprimimos en f string con los datos de interes

In [10]:
score_titulo('Star Wars')

La pelicula Star Wars fue estrenada en el aÃ±o 1977 con un score de: 42.149697


def votos_titulo( titulo_de_la_filmaciÃ³n ): Se ingresa el tÃ­tulo de una filmaciÃ³n esperando como respuesta el tÃ­tulo, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberÃ¡ de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condiciÃ³n y que por ende, no se devuelve ningun valor.

In [11]:
def votos_titulo( titulo_de_la_filmacion ):
    pelicula = df.loc[df['title'] == titulo_de_la_filmacion] #df con las caracteristicas que buscamos 

    if pelicula.empty:
        print(f'No se encontrÃ³ la pelÃ­cula con el tÃ­tulo "{titulo_de_la_filmacion}".') #prevenimos un error si la pelicula no se encuentra
        return None
    
    titulo = pelicula['title'].values[0]
    votos=pelicula['vote_count'].values[0] #guardamos la variables que nos interesan
    vavg=pelicula['vote_average'].values[0]
    
    if votos>=2000:
        print(f'La pelicula {titulo} cuenta con {votos} valoraciones, con un puntaje promedio de {vavg}') #imprimimos si la pelicula tiene mas de 2000 votos
    else:
        print('La pelicula cuenta con menos de 2000 votos') # en caso de que no, se le notifica al usuario

In [12]:
votos_titulo('Forrest Gump')

La pelicula Forrest Gump cuenta con 8147.0 valoraciones, con un puntaje promedio de 8.2

def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el Ã©xito del mismo medido a travÃ©s del retorno. AdemÃ¡s, la cantidad de pelÃ­culas que en las que ha participado y el promedio de retorno. La definiciÃ³n no deberÃ¡ considerar directores.

In [35]:
def get_actor(nombre_actor):
    # Select columns containing actor names
    columnas_actor = [col for col in df_actores.columns if 'Actor ' in col and 'Id' not in col]
    
    # Melt the DataFrame to long format
    melted_df = df_actores.melt(id_vars=['Id_Pelicula'], 
                        value_vars=columnas_actor, 
                        var_name='actor_column', 
                        value_name='nombre_actor')

    # Filter by the actor's name
    filtered_df = melted_df[melted_df['nombre_actor'] == nombre_actor]

    # Count the number of unique movie IDs
    peliculas_aparicion_count = filtered_df['Id_Pelicula'].shape[0]
    peliculas_aparicion = pd.DataFrame(filtered_df['Id_Pelicula'].unique(), columns=['Id_Pelicula'])

    # Perform the merge
    df_act = pd.merge(df, peliculas_aparicion, on='Id_Pelicula', how='inner')
    avg_retorno=df_act['return'].mean()
    retorno_total=df_act['return'].sum()

    print(f'El actor {nombre_actor} aparece en {peliculas_aparicion_count} peliculas con un retorno total de {retorno_total} y retorno promedio de {avg_retorno}')

In [36]:
get_actor('Hayden Christensen')

El actor Hayden Christensen aparece en 19 peliculas con un retorno total de 22.98279476184134 y retorno promedio de 1.209620776939018

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el Ã©xito del mismo medido a travÃ©s del retorno. AdemÃ¡s, deberÃ¡ devolver el nombre de cada pelÃ­cula con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.